a {
    text-decoration: none;
    color: #BBB;
    transition: color 0.3s;
    font-weight: bold;
}

a:hover {
    color: #FFF;
}

nav {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: #424242;
}