.mat-expansion-panel {
    border-radius: 8px !important;
    margin: 16px 0.5% !important;
}

.nested-panel {
    background-color: #333;
}

.obsolete {
    background-color: grey;
}

img {
    max-width: 5%;
}