.mat-accordion {
    display: grid;
    gap: 1rem;

    img {
        max-width: 5%;
    }

    .mat-expansion-panel {
        border-radius: 1vmin !important;
    }

    .mat-expansion-panel-spacing {
        margin: 0;
    }
}

.nested-panel {
    background-color: #333;
}

.obsolete {
    background-color: grey;
}