@import "tailwindcss";

@theme {
  --color-primary: var(--color-yellow-500);
  --color-primary-hover: var(--color-yellow-400);
  --color-primary-active: var(--color-yellow-600);
  --color-primary-soft: var(--color-yellow-500/10);
}

html,
body {
  height: 100%;
}

body {
  @apply bg-zinc-900 text-zinc-200 antialiased font-sans;
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-700 rounded-full hover:bg-zinc-600 transition-colors;
}


.center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}


.unselectable {
  @apply select-none;
  -webkit-user-drag: none;
}